# Compiled Python bytecode files
*.pyc
*.pyo

# Compiled locales
demo/**/*.mo

# SQlite databases
*db.sqlite3

# Files generated when packaging the app
dist/

# Example website media folder
media/

# Files used for development purpose
___*
