{% extends "demo/base.html" %}
{% load wagtailcore_tags static django_bootstrap5 i18n %}

{% block extra_js %}
    {% bootstrap_javascript %}
    <script type="text/javascript" src="{% static 'wagtail_form_plugins/conditional_fields/js/form.js' %}"></script>
{% endblock %}

{% block extra_css %}
    {% bootstrap_css %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/form.css' %}">
{% endblock %}

{% block title %}
    {{ page.title }}
{% endblock %}

{% block content %}
    <h1>{{ page.super_title }}</h1>

    <h2>{{ page.title }}</h2>

    {% bootstrap_messages %}

    <div id="form-intro">{{ page.intro|richtext }}</div>

    <form action="{% pageurl page %}" method="POST" enctype="multipart/form-data">
        {% trans "Submit" as submit %}

        {% csrf_token %}
        <label for="email">Validation e-mail</label>
        <input type="text" name="email"/>

        {% bootstrap_form form %}

        {% bootstrap_button button_type="submit" content=submit %}
    </form>

    <div id="form-outro">{{ page.outro|richtext }}</div>

{% endblock %}
