/* boolean expressions builder */
.formbuilder-beb-inline {
    display: flex;
}
.formbuilder-beb-inline > div {
    margin-right: 32px;
}
.formbuilder-beb > div > label {
    display: none;
}

/* buttons of listblocks with only one entry */
.formbuilder-unique-listblock > div > .c-sf-add-button,
.formbuilder-unique-listblock > div > div > section > div > .w-panel__controls {
    display: none;
}
