html {
	background-color: antiquewhite;
}

body {
	max-width: 800px;
	margin: auto;
	background-color: aliceblue;
	padding: 1em;
}

div:has(.form-title-input) {
	margin-left: 1em;

	label {
		margin-top: 3em;
		font-weight: bold;
	}

	.form-text {
		margin-bottom: 3em;
	}
}
