{% extends "example/base.html" %}
{% load wagtailcore_tags static %}

{% block extra_js %}
    <script type="text/javascript" src="{% static 'wagtail_form_mixins/conditional_fields/js/form.js' %}"></script>
{% endblock %}

{% block title %}
    {{ page.title }}
{% endblock %}

{% block content %}
    <h1>{{ page.super_title }}</h1>

    <h2>{{ page.title }}</h2>

    <div id="form-intro">{{ page.intro|richtext }}</div>

    <form action="{% pageurl page %}" method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form.as_p }}
        <div id="form-outro">{{ page.outro|richtext }}</div>
        <input type="submit"/>
    </form>
{% endblock %}
